<div class="container">
  <div class="row">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">作成日</th>
          <th scope="col">タイトル</th>
          <th scope="col">予定時間</th>
          <th scope="col">決定日時</th>
          <th scope="col">回答者数</th>
        </tr>
      </thead>
      <tbody>
        <% @event.each do |event| %>
          <tr>
            <td><%= event.created_at.strftime('%Y/%m/%d %H:%M') %></td>
            <td>
              <%= link_to schedule_path(event.id) do %>
                <%= event.title %>
              <% end %>
            </td>
            <td><%= event.schedule_time %></td>
            <td><%= event.decision_date_start %>～<%= event.decision_date_end %></td>
            <td><%= event.guests.count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="mx-auto">
      <%= paginate @event %>
    </div>
  </div>
</div>