<div class="container">
  <div class="row mx-auto">
    <table class="table table-borderless">
      <tr>
        <th>イベント</th>
        <td>：<%= @event.title %></td>
      </tr>
      <tr>
        <th>予定時間</th>
        <td>：<%= @event.schedule_time %></td>
      </tr>
      <tr>
        <th>主催者からの<br>コメント</th>
        <td>：<%= @event.comment %></td>
      </tr>
    </table>
  </div>
  <div class="row mx-auto">
    候補日
    <div class="col-sm-8 mx-auto">
      <% @event_schedules.each do |event_schedule| %>
        <div class="d-flex flex-sm-row bd-highlight mb-3">
          <div class="p-2 bd-highlight">
            <%= event_schedule.candidate_date.strftime('%Y/%m/%d') %>
            <%= event_schedule.candidate_time_start.strftime('%H:%M') %>
            ～
            <%= event_schedule.candidate_time_end.strftime('%H:%M') %>
            <% if host_signed_in? %>
              <%= link_to "回答を見る", host_event_schedule_path(event_schedule.id), class: "btn btn-light" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-6 mx-auto">
    <%= link_to "参加可否を入力", new_schedule_answer_path, class: "btn btn-success" %>
  </div>
    参加者
  <div class="event_guest_list_field">
    <div class="event_guest_list">
      <% @guest.each do |guest| %>
        <div class="guest_list">
          <%= link_to guest.guest_name, answer_schedule_answer_path(guest.id) %>さんが参加可否の回答をしました。
        </div>
      <% end %>
    </div>
  </div>
  <div class ="row mx-auto">
    <p>共有URL<br>参加者の方々へ共有しましょう。</p>
    <div class="col-9">
      <input type="text" id="event_url" value="<%= @url %>" class="form-control mb-3" />
    </div>
    <div class="col-3">
      <button onclick="urlCopy()">コピー!</button>
    </div>
  </div>
  <div class="mt-3">
    <p>共有QRコード</p>
    <div class="d-flex justify-content-center">
      <%= image_tag qrcode_tag @url %>
    </div>
  </div>
</div>

<script>
  function urlCopy() {
    var copyUrl = $('#event_url');
    copyUrl.select();
    document.execCommand("copy");
  }
</script>