<h4>イベント</h4>
<div><%= @event.title %></div>
<div><%= @event.schedule_time %></div>
<div><%= @event.comment %></div>
<% @event.event_schedules.each do |event_schedule| %>
  <div>
    <%= event_schedule.candidate_date_start.strftime('%Y/%m/%d %H:%M') %>
    ～
    <%= event_schedule.candidate_date_end.strftime('%H:%M') %>
  </div>
<% end %>
<%= link_to "参加可否を入力する",new_schedule_answer_path, class: "btn btn-success" %>

<%= @url %>
<%= image_tag qrcode_tag @url %>
<% @guest.each do |guest| %>
  <%= guest.guest_name %>さんが参加可否の回答をしました。
<% end %>