<h4>イベント</h4>
<div><%= @event.title %></div>
<div><%= @event.schedule_time %></div>
<div><%= @event.comment %></div>
<% @event_schedules.each do |event_schedule| %>
  <div>
    <%= event_schedule.candidate_date.strftime('%Y/%m/%d') %>
    <%= event_schedule.candidate_time_start.strftime('%H:%M') %>
    ～
    <%= event_schedule.candidate_time_end.strftime('%H:%M') %>
  </div>
  <% if host_signed_in? %>
    <%= link_to "回答を見る", host_event_schedule_path(event_schedule.id), class: "btn btn-light" %>
  <% end %>
<% end %>
<%= link_to "参加可否を入力する", new_schedule_answer_path, class: "btn btn-success" %>

<%= @url %>
<%= image_tag qrcode_tag @url %>
<% @guest.each do |guest| %>
  <%= link_to guest.guest_name, answer_schedule_answer_path(guest.id) %>さんが参加可否の回答をしました。
<% end %>