<div class="container">
  <div class="box">
    <div class="row">
      <span class="box-title">イベント</span>
      <table class="table table-borderless mx-auto">
        <tr>
          <th class="w-25">タイトル</th>
          <td><%= @event.title %></td>
        </tr>
        <tr>
          <th class="w-25">予定時間</th>
          <td><%= @event.schedule_time %></td>
        </tr>
        <tr class="text-break">
          <th class="w-25">備考</th>
          <td><%= @event.comment %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row mx-auto">
    <div class="box">
      <span class="box-title">候補日</span>
      <div class="col-sm-8 mx-auto">
        <% @event_schedules.each do |event_schedule| %>
          <div class="d-flex flex-sm-row bd-highlight mb-3">
            <div class="p-2 bd-highlight">
              ・<%= event_schedule.candidate_date.strftime('%Y/%m/%d') %>
              <%= event_schedule.candidate_time_start.strftime('%H:%M') %>
              ～
              <%= event_schedule.candidate_time_end.strftime('%H:%M') %>
              <% if host_signed_in? %>
                <%= link_to "回答を見る", host_event_schedule_path(event_schedule.id), class: "btn btn-light" %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-6 mx-auto">
    <%= link_to "参加可否を入力", new_schedule_answer_path, class: "btn btn-secondary btn-sm btn-block" %>
  </div>
  <div class="box">
    <span class="box-title">参加者</span>
    <div class="event_guest_list">
      <% @guest.each do |guest| %>
        <div class="guest_list">
          <%= link_to guest.guest_name, answer_schedule_answer_path(guest.id) %>さんが参加可否の回答をしました。
        </div>
      <% end %>
    </div>
  </div>
  <div class="box">
    <div class="row">
      <span class="box-title">共有QRコード</span>
      <div class="col-4 mx-auto">
        <div class="d-flex justify-content-center">
          <%= image_tag qrcode_tag @url %>
        </div>
      </div>
    </div>
  </div>
  <div class="box">
    <div class ="row mx-auto">
      <span class="box-title">共有URL</span>
        <p>参加者の方々へ共有しましょう。</p>
        <div class="col-9">
          <input type="text" id="event_url" value="<%= @url %>" class="form-control mb-3" />
        </div>
        <div class="col-3">
          <button onclick="urlCopy()">
            <i class="fas fa-copy"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function urlCopy() {
    var copyUrl = $('#event_url');
    copyUrl.select();
    document.execCommand("copy");
  }
</script>