<div class="container">
  <div class="box">
    <div class="row">
      <span class="box-title">参加可否</span>
      <div class="mx-auto">
        <% @guest_schedules.each do |guest_schedule| %>
          <div>
            ・<%= guest_schedule.event_schedule.candidate_date.strftime('%Y/%m/%d') %>
            <%= guest_schedule.event_schedule.candidate_time_start.strftime('%H:%M') %>
              ～
            <%= guest_schedule.event_schedule.candidate_time_end.strftime('%H:%M') %>
            <% if guest_schedule.join_flag == true %>
          　<i class="fas fa-thumbs-up mr-3 mt-3"></i>参加できる
            <% else %>
            <i class="fas fa-thumbs-down ml-3 mr-3 mt-3"></i>参加できない
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="row">
      <span class="box-title">あなたの情報</span>
      <table class="table table-borderless mx-auto">
        <tr>
          <th class="w-50">ニックネーム</th>
          <td><%= @guest.guest_name %></td>
        </tr>
        <tr class="text-break">
          <th class="w-25">主催者へのコメント</th>
          <td><%= @guest.comment_to_host %></td>
        </tr>
        <tr>
          <th class="w-25">パスワード</th>
          <td><%= @guest.password %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-5 mx-auto mb-5">
      <%= form_with model: @guest, url: create_schedule_answer_path, method: :post do |f| %>
        <%= f.hidden_field :guest_name %>
        <%= f.hidden_field :comment_to_host %>
        <%= f.hidden_field :password %>
          <% @event.guests.each_with_index do |_,index| %>
            <%= f.fields_for "guest_schedules[#{index}]" do |i| %>
              <%= i.hidden_field :join_flag %>
            <% end %>
          <% end %>
        <%= f.submit '回答', class: "btn btn-secondary btn-sm btn-block" %>
      <% end %>
    </div>
    <div class="col-5 mx-auto mb-5">
      <%= form_with model:@guest, url: back_schedule_answer_path, method: :post do |f| %>
        <%= f.hidden_field :guest_name %>
        <%= f.hidden_field :comment_to_host %>
        <%= f.hidden_field :password %>
        <%= f.submit "もどる", class:"btn btn-light btn-sm btn-block" %>
      <% end %>
    </div>
  </div>
</div>