<div class="container">
  <h4>回答内容の確認</h4>
  <div class="row">
    ニックネーム
    <%= @guest.guest_name %>
    主催者へのコメント
    <%= @guest.comment_to_host %>
    パスワード
    <%= @guest.password %>
    参加可否
    <% @guest_schedules.each do |guest_schedule| %>
      <%= guest_schedule.event_schedule.candidate_date.strftime('%Y/%m/%d') %>
      <%= guest_schedule.event_schedule.candidate_time_start.strftime('%H:%M') %>
        ～
      <%= guest_schedule.event_schedule.candidate_time_end.strftime('%H:%M') %>
      <% if guest_schedule.join_flag == true %>
    　<p>〇</p>
      <% else %>
      <p>×</p>
      <% end %>
    <% end %>
  </div>
</div>
<%= form_with model: @guest, url: create_schedule_answer_path, method: :post do |f| %>
  <%= f.hidden_field :guest_name %>
  <%= f.hidden_field :comment_to_host %>
  <%= f.hidden_field :password %>
    <% @event.guests.each_with_index do |_,index| %>
      <%= f.fields_for "guest_schedules[#{index}]" do |i| %>
        <%= i.hidden_field :join_flag %>
      <% end %>
    <% end %>
  <%= f.submit '回答', class: "btn btn-success" %>
<% end %>