<div class="container">
  <%= form_with model: @guest, url: update_schedule_answer_path, method: :patch do |f| %>
    <div class="box">
      <span class="box-title">参加可否を編集</span>
      <div class="form-group">
        <% @event.event_schedules.each_with_index do |event_schedule,index| %>
          <div>
            ・<%= event_schedule.candidate_date.strftime('%Y/%m/%d') %>
            <%= event_schedule.candidate_time_start.strftime('%H:%M') %>
            ～
            <%= event_schedule.candidate_time_end.strftime('%H:%M') %>
            <%= f.fields_for "guest_schedules[#{event_schedule.id}]" do |i| %>
              <%= i.radio_button :join_flag, true, id: "OK[#{index}]", :style=>"display:none;", checked: @guest_schedules.find_by(event_schedule_id: event_schedule.id).join_flag ? true : false %>
              <%= f.label :status_true, for: "OK[#{index}]" do %>
                <i class="fas fa-thumbs-up size ml-3 mt-3"></i>
              <% end %>
              <%= i.radio_button :join_flag, false, id: "NG[#{index}]", :style=>"display:none;", checked: @guest_schedules.find_by(event_schedule_id: event_schedule.id).join_flag ? false : true %>
              <%= f.label :status_false, for: "NG[#{index}]" do %>
                <i class="fas fa-thumbs-down size ml-3 mt-3"></i>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="box">
      <h1>フォームを空白にするとエラーは出ないものの編集が反映されない。</h1>
        <div class="ml-5 red">
          <%= flash[:danger] %>
        </div>
      <span class="box-title">あなたの情報を編集</span>
      <div class="form-group col-sm-9 mx-auto">
        <%= f.label :ニックネーム（必須）, class: "col-form-label" %>
        <%= f.text_field :guest_name, placeholder: "", class: "form-control" %>
      </div>
      <div class="form-group col-sm-9 mx-auto">
        <%= f.label :主催者へのコメント, class: "col-form-label" %>
        <%= f.text_area :comment_to_host, placeholder: "", class: "form-control" %>
      </div>
      <div class="form-group col-sm-9 mx-auto">
        <%= f.label :パスワード（必須）, class: "col-form-label" %>
        <%= f.text_field :password, placeholder: "再入力or新規設定してください", class: "form-control" %>
      </div>
    </div>
    <div class="col-6 mx-auto">
      <%= f.submit '更新', class: "btn btn-secondary btn-sm btn-block" %>
    </div>
  <% end %>
  <div class="row">
    <div class="col-6 mx-auto my-5">
      <%= link_to '回答を削除', destroy_schedule_answer_path, method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-light btn-sm btn-block" %>
    </div>
    <div class="col-6 mx-auto my-5">
      <%= link_to "もどる", schedule_path(token: @event.token), class: "btn btn-light btn-sm btn-block" %>
    </div>
  </div>
</div>