<div class="container">
  <div class="row">
    <h4>内容確認</h4>
    <table class="table table-borderless">
      <tbody>
        <tr>
          <th>タイトル</th>
          <td><%= @event.title %></td>
        </tr>
        <tr>
          <th>予定時間</th>
          <td><%= @event.schedule_time %></td>
        </tr>
        <tr>
          <th>候補日</th>
          <% @event.event_schedules.each do |event_schedule| %>
            <td>
              <%= event_schedule.candidate_date_start.strftime('%Y/%m/%d %H:%M') %>
              ～
              <%= event_schedule.candidate_date_end.strftime('%H:%M') %>
            </td>
          <% end %>
        </tr>
      </tbody>
    </table>
    <%= form_with model:@event, url: host_events_path, method: :post do |f| %>
      <%= f.hidden_field :title %>
      <%= f.hidden_field :schedule_time %>
      <%= f.hidden_field :comment %>
        <%= f.fields_for :event_schedules do |i| %>
          <%= i.hidden_field :candidate_date_start %>
          <%= i.hidden_field :candidate_date_end %>
        <% end %>
      <%= f.submit "イベントを登録", class:"btn btn-success" %>
    <% end %>
  </div>
</div>