<div class="container">
  <div class="box">
    <span class="box-title">ログイン</span>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group col-sm-9　mx-auto">
        <%= f.label :name, class: "col-sm-2 col-form-label" %>
        <%= f.text_field :host_name, autofocus: true, autocomplete: "host_name", placeholder: "よてい　たてお", class: "form-control" %>
      </div>
    
      <div class="form-group col-sm-9　mx-auto">
        <%= f.label :password, class: "col-sm-2 col-form-label" %>
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "", class: "form-control" %>
      </div>
    
      <% if devise_mapping.rememberable? %>
        <div class="form-group ml-3">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
    
      <div class="col-6 mx-auto mb-2">
        <%= f.submit "Log in", class: "btn btn-secondary btn-sm btn-block" %>
      </div>
    <% end %>
  </div>
  <div class="ml-2">
    新規登録は<%= render "host/shared/links" %>から
  </div>
</div>
