<!DOCTYPE html>
<html>
  <head>
    <title>YOTEI</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/61d492468d.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm mb-3">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand p-3" href="/">YOTEI</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to manual_path, target: :_blank, rel: "noopener noreferrer", class: 'nav-link text-dark' do %>
                <i class="fas fa-question"></i>
                つかいかた
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_host_event_path, class: 'nav-link text-dark' do %>
                <i class="far fa-calendar-alt"></i>
                日程をきめる
              <% end %>
            </li>
            <% if host_signed_in? %>
              <li class="nav-item">
                <%= link_to host_mypage_path(current_host.id), class: 'nav-link text-dark' do %>
                  <i class="fas fa-home"></i>
                  マイページ
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_host_session_path, method: :delete, class: 'nav-link text-dark' do %>
                  <i class="fas fa-sign-out-alt"></i>
                  ログアウト
                <% end %>
            </li>
            <% else %>
              <li class="nav-item">
                  <%= link_to new_host_registration_path, class: 'nav-link text-dark' do %>
                  <i class="fas fa-user-plus"></i>
                  新規登録
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_host_session_path, class: 'nav-link text-dark' do %>
                  <i class="fas fa-sign-in-alt"></i>
                  ログイン
                <% end %>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="mb-auto">

    <%= yield %>
  </body>
</html>
